@import "tailwindcss";

.submit-btn:hover {
  background-color: #1e40af;
  cursor: pointer;
}

body{
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:active, input:focus {
  outline: none;
  border-color: white;
}